In [1]:
import requests
response=requests.get(
    'https://data.nasa.gov/resource/gh4g-9sfh.json',params={'$limit':50_000}
)
if response.ok:
  payload=response.json()
else:
  print(f'Request was not succcessful and returned code:{response.status_code}.')
  payload=None

In [2]:
import pandas as pd
df=pd.DataFrame(payload)
df.head(10)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21,Fell,1880-01-01T00:00:00.000,50.775000,6.083330,"{'latitude': '50.775', 'longitude': '6.08333'}",NaN,NaN
1,Aarhus,2,Valid,H6,720,Fell,1951-01-01T00:00:00.000,56.183330,10.233330,"{'latitude': '56.18333', 'longitude': '10.23333'}",NaN,NaN
2,Abee,6,Valid,EH4,107000,Fell,1952-01-01T00:00:00.000,54.216670,-113.000000,"{'latitude': '54.21667', 'longitude': '-113.0'}",NaN,NaN
3,Acapulco,10,Valid,Acapulcoite,1914,Fell,1976-01-01T00:00:00.000,16.883330,-99.900000,"{'latitude': '16.88333', 'longitude': '-99.9'}",NaN,NaN
4,Achiras,370,Valid,L6,780,Fell,1902-01-01T00:00:00.000,-33.166670,-64.950000,"{'latitude': '-33.16667', 'longitude': '-64.95'}",NaN,NaN
5,Adhi Kot,379,Valid,EH4,4239,Fell,1919-01-01T00:00:00.000,32.100000,71.800000,"{'latitude': '32.1', 'longitude': '71.8'}",NaN,NaN
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910,Fell,1949-01-01T00:00:00.000,44.833330,95.166670,"{'latitude': '44.83333', 'longitude': '95.16667'}",NaN,NaN
7,Agen,392,Valid,H5,30000,Fell,1814-01-01T00:00:00.000,44.216670,0.616670,"{'latitude': '44.21667', 'longitude': '0.61667'}",NaN,NaN
8,Aguada,398,Valid,L6,1620,Fell,1930-01-01T00:00:00.000,-31.600000,-65.233330,"{'latitude': '-31.6', 'longitude': '-65.23333'}",NaN,NaN
9,Aguila Blanca,417,Valid,L,1440,Fell,1920-01-01T00:00:00.000,-30.866670,-64.550000,"{'latitude': '-30.86667', 'longitude': '-64.55'}",NaN,NaN